.description {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    &-first {
        @media screen and (min-width:768px) and (max-width:1199px) {
            padding-bottom: 56px;
         }         
    }
}

.description__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-black-color);
}

.description__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}