.overlay {
    position: relative;
    overflow: hidden;
}

.overlay__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform var(--transition-origin);

    background-color: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 17px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-white-color);
    @media screen and (min-width:768px) {
        padding: 63px 24px;
        font-size: 18px;
    }
    
    .grid-cards__link:hover &,
    .grid-cards__link:focus & {
        transform: translateY(0);
    }
}
