.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
}

.modal-form__name {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.modal-form__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}