.navigation {
display: none;

@media screen and (min-width:768px) {
    display: block;
}
}
.navigation__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation__item {
    position: relative;
    margin-right: 50px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    display: block;
    padding: 32px 0;

    transition: color var(--transition-origin);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-black-color);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--logo-hover-color);
    }

}

.navigation__link--current {
    color: var(--logo-hover-color);

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--logo-hover-color);
    }
}
